.register-article {
    display: flex;
    flex-direction: column;
    height: 500px;
    &__title {
      font-size: 24px;
      color: #3f51b5;
    }

    &__section {
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
    }

    &__disabled {
      background-color: gray;
      cursor:not-allowed;
    }

    &__item {
      width: 40%;
    }

    &__button-box {
     display: flex;
     width: 100%;
     justify-content: center;
      margin-top: 40px;
    }
   }